<ion-header [translucent]="true" class="headerbg ion-padding-top ion-padding-bottom ion-no-border">
  <ion-toolbar style="--background:none">
    <ion-title color="light">
      My Chats
    </ion-title>  

    <ion-slides pager="false" style="padding: 5px;" [options]="slideOpts">
      <ion-slide>
     <ion-button class="add_btn">
      <ion-icon name="add"></ion-icon>
     </ion-button>
      </ion-slide>
      <ion-slide *ngFor="let i of array">
      <img src="assets/icon/user-male.png" class="status_img">
      </ion-slide>

    </ion-slides>
    <ion-row style="padding: 7px 12px;">
      <ion-col class="ion-text-left" size="4">
<ion-text color="light">Message</ion-text>
      </ion-col>
      <ion-col class="ion-text-center" size="4">
        <ion-text color="light">Calls</ion-text>
      </ion-col>
      <ion-col class="ion-text-end" size="4">
        <ion-text color="light" >Groups</ion-text>
      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <ion-grid class="grid_home">
<ion-row>
  <ion-col size="12" class="ion-padding">
    <ion-label>Last Chats</ion-label>
  </ion-col>
</ion-row>

<ion-list>

  <!-- Multi-line sliding item with icon options on both sides -->
  <ion-item-sliding id="item100"   *ngFor="let j of array" routerLink="/chat" >
    <ion-item href="#" >
      <ion-badge color="primary" class="style_badge">11</ion-badge>
      <img src="assets/icon/user-male.png" class="status_img img_dp">
     
      <ion-label>
        <ion-text class="name">siddhant Jangle</ion-text>
        <p class="msg_color">A new message in your network ?</p>

      </ion-label>
      <ion-note slot="end" style="font-size: 13px;" class="ion-align-items-center">
        Yesterday
      </ion-note>
    </ion-item>

    <ion-item-options side="start" >
      <ion-item-option >
        <ion-icon slot="icon-only" name="heart"></ion-icon>
      </ion-item-option>
    </ion-item-options>

    <ion-item-options side="end">

      <ion-item-option class="more_btn">

        <ion-icon  slot="icon-only" name="ellipsis-horizontal-sharp"></ion-icon>
      </ion-item-option>
      <ion-item-option color="danger" class="delete_btn">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>


</ion-list>
 </ion-grid>
</ion-content>
